body{
    background-color: black;
}
.container{
    /* border: 2px solid red; */
    height: 50vh;
    width: 50%;
    margin-top: 8%;
    margin-left: 20%;
    color: aqua;


}
.container h1{
    padding-left: 40%;
    font-size: 60px;
    font-weight: bold;
}
.container h2{
    padding-left: 50%;
    font-size: 70px;

}
.container button{
margin-left: 12%;
height: 60px;
width: 130px;
font-size: 20px;
font-weight: bold;
color: aqua;
border: 2px solid aqua;
border-radius: 30px;
background-color: black;
}